# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# pdf and latex auxiliaries
*.log
*.aux
*.pdf
oo3/ListC/ParseAndComp.fs
oo3/ListC/ex33.out
oo3/ListC/ex30.out
oo3/ListC/CPar.fsy
oo3/ListC/Absyn.fs
oo3/ListC/ex31.out
oo3/ListC/ex32.out
oo3/ListC/ex11.out
oo3/ListC/ex34.out
oo3/ListC/Parse.fs
oo3/ListC/CLex.fs
oo3/ListC/report/report.pdf
oo3/ListC/report/tmp/report.aux
oo3/ListC/report/tmp/report.toc
oo3/ListC/report/tmp/report.log
oo3/ListC/report/tmp/report.out
oo3/ListC/ex35.lc
oo3/ListC/ex34.lc
oo3/ListC/Comp.fs
oo3/ListC/README.TXT
oo3/ListC/ex31.lc
oo3/ListC/ex36.lc
oo3/ListC/ex36.out
oo3/ListC/ex35.out
oo3/ListC/prog0
oo3/ListC/CPar.fs
oo3/ListC/ex32.lc
oo3/ListC/ListCC.fs
oo3/ListC/listmachine
oo3/ListC/ex33.lc
oo3/ListC/ex30.lc
oo3/ListC/Machine.fs
oo3/ListC/prog1
oo3/ListC/CLex.fsl
oo1/BOSC-opg1-Sigurt-Bladt-Dinesen.tar.gz
oo1/bosh
oo2/.RData
oo2/.Rhistory
oo2/BOSC-opg2-Sigurt-Dinesen.zip
oo2/banker/banker
oo2/prodcons
oo2/report/pics/
oo2/report/tmp/
oo2/sumsqrt
